{% extends 'admin/model/list.html' %}

{% block head %}
{% include "admin/utils/head.html" %}
{% endblock %}

{% block body %}
<h1 class="text-center bg-info mtitle">Quản Lý Đội Bóng</h1>
{{ super() }}
{% endblock %}

{% block title %}
Loại Bóng
{% endblock %}

{% block model_menu_bar %}
{% include "admin/utils/model-menu-bar.html" %}
{% endblock %}

{% block brand %}
<a class="navbar-brand mbrand" href="/admin">QUẢN LÝ GIẢI VÔ ĐỊCH BÓNG ĐÁ QUỐC GIA</a>
{% endblock %}

{% block main_menu %}
{% include "admin/utils/main-menu.html" %}
{% endblock %}

{% block empty_list_message %}
<h4 class="text-center bg-warning" style="padding:10px">Không có dòng dữ liệu nào!</h4>
{% endblock %}
