
<ul class="nav navbar-nav mmenu">
    <li>
        <a href="/admin/">Trang chủ</a>
    </li>
    <li>
        <a href="/admin/doibong/">Đội Bóng</a>
    </li>
    <li>
        <a href="/admin/cauthu/">Cầu Thủ</a>
    </li>
    <li>
        <a href="/admin/loaicauthu/">Loại Cầu Thủ</a>
    </li>
<!--    <li>-->
<!--        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="true">-->
<!--            Kết Quả Trận Đấu<b class="caret"> </b></a>-->
<!--        <ul class="dropdown-menu">-->
<!--            <li>-->
<!--                <a href="/admin/banthang/">Bàn thắng</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="/admin/ghinhanketquatrandauview/">Ghi nhận kết quả trận đấu</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->
    <li>
        <a href="/admin/banthang/">Bàn Thắng</a>
    </li>
    <li>
        <a href="/admin/loaibanthang/">Loại Bàn Thắng</a>
    </li>
    <li>
        <a href="/admin/thamgia/">Lịch Thi Đấu</a>
    </li>
    <li>
        <a href="/admin/trandau/">Trận Đấu</a>
    </li>
    <li>
        <a href="/admin/vongdau/">Vòng Đấu</a>
    </li>
    <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="true">
            Thay Đổi Qui Định<b class="caret"> </b></a>
        <ul class="dropdown-menu">
<!--            <li>-->
<!--                <a href="/admin/quidinh/">Qui định</a>-->
<!--            </li>-->
            <li>
                <a href="/admin/quidinh1view/">Qui định 1</a>
            </li>
            <li>
                <a href="/admin/quidinh3view/">Qui định 3</a>
            </li>
            <li>
                <a href="/admin/quidinh5view/">Qui định 5</a>
            </li>
        </ul>
    </li>
    <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="true">
            Lập Báo Cáo<b class="caret"> </b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="/admin/bangxephangview/">Bảng xếp hạng</a>
            </li>
            <li>
                <a href="/admin/danhsachcauthughibanview/">Danh sách các cầu thủ ghi bàn</a>
            </li>
        </ul>
    </li>
    <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="true">{{
            current_user.ten.upper()}} <b class="caret"> </b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="/admin/logoutview/">Đăng xuất</a>
            </li>
        </ul>
    </li>
</ul>