{% extends "admin/master.html" %}

{% block head %}
{% include "admin/utils/head.html" %}
{% endblock %}

{% block page_body %}
{% if current_user.is_authenticated %}
{{super()}}
{% else %}
{% include "admin/login.html" %}
{% endif %}
{% endblock %}

{% block body %}
<h1 class="text-center bg-info mtitle">--- Chào Mừng Bạn Đến Với Trang Admin ---</h1>
<img class="mimg"
src="https://png.pngtree.com/thumb_back/fw800/back_pic/03/89/43/4357d90536a798c.jpg"/>
{% endblock %}

{% block brand %}
<a class="navbar-brand mbrand" href="/admin">QUẢN LÝ GIẢI VÔ ĐỊCH BÓNG ĐÁ QUỐC GIA</a>
{% endblock %}

{% block main_menu %}
{% include "admin/utils/main-menu.html" %}
{% endblock %}

{% block title %}
{% if current_user.is_authenticated %}
Trang Chủ - Admin
{% else %}
Đăng Nhập - Admin
{% endif %}
{% endblock %}



