{% extends 'admin/model/list.html' %}

{% block body %}
<h1 class="text-center text-success bg-primary" style="padding: 10px">Qui Định</h1>
{{ super() }}
{% endblock %}

{% block title %}
Qui Định
{% endblock %}

{% block model_menu_bar %}
<ul class="nav nav-tabs actions-nav">
    <li class="active">
        <a href="javascript:void(0)">Danh Sách</a>
    </li>
    <li>
        <a href="/admin/quidinh/new/?url=%2Fadmin%2Fquidinh%2F" title="Thêm 1 dòng dữ liệu mới">Tạo</a></li>
    <li>
        <a href="/admin/quidinh/export/csv/" title="Xuất File CSV">Xuất File</a>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="return modelActions.execute('delete');">Xóa</a>
    </li>
</ul>
{% endblock %}

{% block empty_list_message %}
<h4 class="text-center bg-warning" style="padding:10px">Không có dòng dữ liệu nào!</h4>
{% endblock %}

{% block brand %}
<div class="navbar-brand" style="width:100%">
    <a href="/admin" style="text-decoration:none">Quản Lý Giải Vô Địch Bóng Đá Quốc Gia</a>
</div>
{% endblock %}

{% block main_menu %}
<ul class="nav navbar-nav">
    <li>
        <a href="/admin/">Trang chủ</a>
    </li>
    <li>
        <a href="/admin/doibong/">Đội Bóng</a>
    </li>
    <li>
        <a href="/admin/cauthu/">Cầu Thủ</a>
    </li>
    <li>
        <a href="/admin/loaicauthu/">Loại Cầu Thủ</a>
    </li>
    <li>
        <a href="/admin/banthang/">Bàn Thắng</a>
    </li>
    <li>
        <a href="/admin/loaibanthang/">Loại Bàn Thắng</a>
    </li>
    <li>
        <a href="/admin/trandau/">Trận Đấu</a>
    </li>
    <li>
        <a href="/admin/vongdau/">Vòng Đấu</a>
    </li>
    <li class="active">
        <a href="/admin/quidinh/">Qui Định</a>
    </li>
    {% if current_user.is_authenticated %}
    <li>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="true"> Chào {{
            current_user.name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="/admin/logoutview/">Đăng xuất</a>
            </li>
        </ul>
    </li>
    {% else %}

    {% endif %}

</ul>
{% endblock %}
