{% extends 'admin/model/create.html' %}

{% block head %}
{% include "admin/utils/head.html" %}
{% endblock %}

{% block body %}
<h1 class="text-center bg-info mtitle">Tạo Đội Bóng</h1>
{{ super() }}
{% endblock %}

{% block navlinks %}
<ul class="nav nav-tabs" style="padding: 10px">
    <li>
        <a href="/admin/doibong/">Danh sách</a>
    </li>
    <li class="active">
        <a href="javascript:void(0)">Tạo</a>
    </li>
</ul>
{% endblock %}

{% block create_form %}
    {{super()}}
{% endblock %}

{% block brand %}
<a class="navbar-brand mbrand" href="/admin">QUẢN LÝ GIẢI VÔ ĐỊCH BÓNG ĐÁ QUỐC GIA</a>
{% endblock %}

{% block main_menu %}
{% include "admin/utils/main-menu.html" %}
{% endblock %}

